<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TYPO3 Clear Cache Options</title>

    <link type="text/css" rel="stylesheet" href="options.css">

    <script type="text/javascript" src="libs/jquery.min.js"></script>
    <script type="text/javascript" src="libs/handlebars.js"></script>
    <script type="text/javascript" src="options.js"></script>
</head>
<body>
    <div id="typo3_clearcache_options"></div>

    <script id="template-options" type="text/x-handlebars">
        <div id="heading">
            <h1>TYPO3 Clear Cache <small>{{ version }}</small></h1>
            <p>Clear TYPO3 caches without need to switch to TYPO3 backend. TYPO3 6.0-8.x support.</p>
        </div>
        <div id="content">

            <h2>Options</h2>
            <ul>
                <li><label><span>Reload page when cache cleared</span><input type="checkbox" id="reloadPageAfterCacheClear" {{#if settings.reloadPageAfterCacheClear}}checked="checked"{{/if}} /> enable</label></li>
                <li><label><span>Close popup when pressing clear cache button</span><input type="checkbox" value="1" checked="checked" /> enable</label></li>
            </ul>
            <button class="save-button">Save</button>
            <small class="success" style="display: none;">Saved.</small>



        </div>
    </script>

    <!-- Old: -->
    <!--<div id="content" style="display: none">-->
        <!--&lt;!&ndash;<div id="heading">&ndash;&gt;-->
            <!--&lt;!&ndash;<h1>Xdebug helper</h1>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Easy debugging, profiling and tracing</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<h3>Introduction</h3>-->
        <!--<p class="contentTxt">-->
            <!--First install and configure <a target="_blank" class="txtlink" href="http://www.xdebug.org/docs/install">Xdebug</a>, then set your IDE key below. Now tell Xdebug to debug, profile or trace by clicking the little bug in the addressbar:-->
        <!--</p>-->
        <!--<p class="contentTxt">-->
            <!--<img class="inlineicon" alt="" src="images/bug-gray.png" /> Debugging, profiling &amp; tracing disabled<br />-->
            <!--<img class="inlineicon" alt="" src="images/bug.png" /> Debugging enabled<br />-->
            <!--<img class="inlineicon" alt="" src="images/clock.png" /> Profiling enabled<br />-->
            <!--<img class="inlineicon" alt="" src="images/script.png" /> Tracing enabled-->
        <!--</p>-->
        <!--<p class="hint"><img src="images/lightbulb.png" alt="Tip!" title="Tip!" /> Love hotkeys? Try Ctrl+Shift+X</p>-->

        <!--<h3>IDE key</h3>-->
        <!--<p class="note">Select your IDE to use the default sessionkey or choose other to use a custom key.</p>-->
        <!--<p>-->
            <!--<select id="ide">-->
                <!--<option value="XDEBUG_ECLIPSE">Eclipse</option>-->
                <!--<option value="netbeans-xdebug">Netbeans</option>-->
                <!--<option value="macgdbp">MacGDBp</option>-->
                <!--<option value="PHPSTORM">PhpStorm</option>-->
                <!--<option value="null">Other</option>-->
            <!--</select>-->
            <!--<span id="customkey"><input type="text" id="idekey" /> </span>-->
            <!--<button class="button" class="save-button">Save</button>-->
        <!--</p>-->

        <!--<h3>Trace Trigger Value</h3>-->
        <!--<p class="note">If your xdebug is configured with a unique trace trigger key,-->
            <!--set that value here.  This value is blank by default.</p>-->
        <!--<p>-->
            <!--<input type="text" id="tracetrigger" value="">-->
            <!--<button class="button" class="save-button">Save</button>-->
        <!--</p>-->

        <!--<h3>Profile Trigger Value</h3>-->
        <!--<p class="note">If your xdebug is configured with a unique profile trigger key,-->
            <!--set that value here.  This value is blank by default.</p>-->
        <!--<p>-->
            <!--<input type="text" id="profiletrigger" value="">-->
            <!--<button class="button" class="save-button">Save</button>-->
        <!--</p>-->
    <!--</div>-->
</body>
</html>



